@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --primary-color: hsl(0, 0%, 100%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --status-color: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #ddd;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background-color: var(--very-dark-blue);
}

.card {
    max-width: 350px;
    margin: 0 auto;
    background-color: var(--dark-desaturated-blue);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__body {
    padding: 2rem;
    text-align: center;
}

.card__title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.card__title span {
    color: var(--soft-violet);
}

.card__paragraph {
    line-height: 1.5;
    padding: 0 0.5rem;
    margin-bottom: 1.8rem;
    color: var(--paragraph-color);
}

.card__status {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-family: "Lexend Deca", sans-serif;
    color: var(--status-color);
    font-size: 0.8rem;
}

.card__status span {
    display: block;
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    padding-bottom: 0.5rem;
}

.image-desktop {
    display: none;
}

.images__wrapper {
    position: relative;
}

.images__wrapper::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(276.8, 96.4%, 21.6%, 0.55);
    opacity: 0.8;
}

/*Responsive */
@media (min-width: 1024px) {
    .card {
        max-width: 1024px;
        flex-direction: row-reverse;
    }

    .images__wrapper {
        width: 50%;
    }

    .card__body {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        text-align: start;
        padding: 4rem;
    }

    .card__title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .card__paragraph {
        padding: 0;
    }

    .card__status {
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
    }

    .image-desktop {
        display: block;
    }

    .image-mobile {
        display: none;
    }
}
